<header class="bg-white">
    <div class="mt-5 mb-5 px-4">
      <div class="flex items-center gap-6">
        <div class="flex">
          <a href="/home">
            <img src="{{url_for('static', path='/img/logo.png')}}" alt="logo" width="50">
          </a>
        </div>
  
        <div class="flex">
          <nav>
            <ul class="flex gap-6 text-xl">
              <li>
                <a class="text-gray-500 transition hover:text-gray-500" href="/home/about"> About </a>
              </li>
  
              <li>
                <a class="text-gray-500 transition hover:text-gray-500" href="/home/portfolio"> Portfolio </a>
              </li>

              <li>
                <a class="text-gray-500 transition hover:text-gray-500" href="/home/blog"> Blog </a>
              </li>              
              
              <li>
                <a class="text-gray-500 transition hover:text-gray-500" href="/home/contact"> Contact </a>
              </li>
    
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </header>

