{%include 'layout.html'%}
<div class="flex flex-col gap-10 py-8">
  <div class="flex flex-col items-center gap-6">
    <h2 class="text-3xl font-bold sm:text-6xl">My Portfolio</h2>
    <img src="{{url_for('static', path='/img/yap.webp')}}" alt="advaspire" />
    <p class="mt-4 text-blue-600 text-2xl">This is me YAP ZHEN HAO!!!</p>
  </div>

  <div
    class="grid grid-cols-1 lg:grid-cols-2 min-w-96 mx-auto px-10 py-8 gap-10 rounded-xl border border-gray-500"
  >
    <div
      class="flex flex-col min-w-96 rounded-xl border border-gray-500 p-4"
    >
      <h2 class="mt-2 font-bold text-xl">My Unity Project</h2>
      <ul>
        <li class="my-2 text-base text-gray-600">- 2D platformer</li>
        <img src="{{url_for('static', path='/img/unity1.png')}}" width="250" alt="unity" />
        <li class="my-2 text-base text-gray-600">- 3D shooting</li>
        <li class="my-2 text-base text-gray-600">- 3D blocky</li>
      </ul>
    </div>

    <div
      class="flex flex-col min-w-96 rounded-xl border border-gray-500 p-4"
    >
      <h2 class="mt-2 font-bold text-xl">My Robotics Project</h2>
      <ul>
        <li class="text-base text-gray-600">- 123 Stop Game</li>
        <li class="text-base text-gray-600">- Maze Game</li>
        <li class="text-base text-gray-600">- PinBall</li>
      </ul>
    </div>

    <div
      class="flex flex-col min-w-96 rounded-xl border border-gray-500 p-4 "
    >
      <h2 class="mt-2 font-bold text-xl">My 3D Design</h2>

      <ul>
        <li class="text-base text-gray-600">- Conveyor</li>
        <li class="text-base text-gray-600">- Robot Car</li>
      </ul>
    </div>
  </div>
</div>
